<div class="col-sm-12 text-center"><h3>Person Details</h3></div>
<div class="text-center">
	<p>
	  <strong>Name :</strong>
	  <%= @person.name %>
	</p>
	 
	<p>
	  <strong>Money :</strong>
	  <%= @person.money %>
	</p>
</div>
<div class="col-md-6 col-md-offset-3">
	<p>Garage</p>
	<table class="table">
		<thead>
			<tr>
				<th>Motor Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @person.garages.each do |garage| %>
				<tr>
					<td><%= garage.link_to_show %></td>
					<td><%= garage.link_to_edit %> <%= garage.link_to_delete %></td>
				</tr>
			<% end %>
		</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td><ul class="pull-right"><%= link_to 'Add', new_person_garage_path(@person.id), class: 'btn btn-primary btn-xs' %></ul></td>
				</tr>
			</tfoot>
	</table>
</div>