<!DOCTYPE html>
<html>
  <head>
    <title>Motor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
  	<div class="container">
      <% flash.each do |message_type, message| %>
        <div class="text-center alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
  		<div class="row">
	  		<%= yield %>
  		</div>
  	</div>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
